@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

html,body{
    position:fixed;
    width: 100%;
    height:100%;
    text-align: center;
}
header {
    height: 100%;
    text-align: center;
}
body {
    background-color: #A31D28;
    font-family: "Roboto", sans-serif;
    margin: 0;
    transition: background 0.4s ease-in-out;
    text-align: center;
}

a {
    color: black;
    
    
}

.hamburger {
    position: fixed;
    top: 2rem;
    left: 2rem;
    font-size: 3rem;
}
.hamburger.active {
    transform: translateX(180px);
}


.phone {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
}

.logo {
    color: white;
    font-size: 1.7rem;
    margin: 2rem 0;
    text-align: center;
}

.logo i {
    font-size: 3rem;
}

.logo h2 {
    font-weight: bolder;
    margin: 0;
    text-shadow: 2px 2px black;
}

.logo p {
    color: #1f1f1f;
    font-weight: bold;
    margin: 0;
}

.carousel-container {
    overflow: hidden;
    position: relative;
    height: 60vh;
    width: 100vw;
    margin-top: 5rem;
}

.carousel {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.slide {
    width: 100vw;
    text-align: center;
}

.slide img {
    object-fit: fill;
    text-align: center;
    height: 300px;
    width: 300px;
   
    
}

.slide h1 {
    color: white;
    font-size: 4rem;
    margin-top: -2rem;
    text-shadow: 2px 2px black;
    
}

.slide h2 {
   font-style: bold;
}

.slide a {
    background-color: white;
    border-radius: 5px ;
    padding: 1rem 2rem;
    font-size: 1rem;
    opacity: 0.8;
    
}

.slide a:hover{
    opacity: 1;
    transition: transform 0.4s ease-in-out;
}

.arrow:hover{
    opacity: 1;
    transition: transform 0.4s ease-in-out;
}

.arrow {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    font-size: 5rem;
    color: black;
    opacity: 0.5;
}

.left-arrow {
    left: 2rem;
}

.right-arrow {
    right: 2rem;
}
.rodape {
    grid-area: f / f / f / f;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav {
    background-color: #DEE7E6;
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0.9;
}

nav #backgorund{
    opacity: 0.1;
}

nav.active {
    transform: translateX(0);
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    padding: 1rem 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 0;
    align-content: center;
}

nav ul li :hover {
    color: #394867;
}

.title-nav{
    color: black;
    font-size: 1.4rem;
}

@media (max-width: 650px) {
    body{
        align-items: center;
        position:fixed;
    width: 100%;
    height:100%;
        
    }
    .height-80 {
        height: 80vh;
    }
   

    .slide img {
        
        text-align: center;
        height: 200px;
        width: 200px;
    }
    .left-arrow {
        left: 0.5rem;
    }
    
    .right-arrow {
        right: 0.5rem;
    }

    .arrow{
        font-size: 2rem;
    }

    .hamburger {
        position: fixed;
        top: 2rem;
        left: 2rem;
        font-size: 2rem;
    }
    
    .phone{
        font-size: 2rem;
    }

    .slide h1 {
        color: white;
        font-size: 3rem;
        margin-top: -2rem;
    }

    .carousel-container {
        
        margin-top: 10rem;
    }
    
    

    }

    